#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: red;
  align-self: center;
  padding-left: 70px;
}

p {
  font-family: Lato;
}

#clear {
  width: 160px;
}

#zero {
  width: 160px;
}

#equals {
  background-color: brown;
  color: white;
  width: 80px;
  height: 120px;
  position: absolute;
  bottom: 5px;
}

button {
  position: relative;
  height: 60px;
  width: 80px;
  color: rgb(255, 0, 0);
  outline: 2px solid black;
  border: none;
  font-size: 20px;
}

body {
  background: #c2c2d6;
}

.calculator {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
  align-items: flex-start;
}

.display_top {
  overflow-wrap: anywhere;
  background-color: black;
  color: white;
  text-align: right;
  overflow-wrap: break-word;
}

.display_bottom {
  overflow-wrap: anywhere;
  background-color: black;
  color: red;
  text-align: right;
  overflow-wrap: break-word;
}





